Petra/config.py
Petra/*.session
Petra/*.session-journal
Petra/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Petra/modules/helper_funcs/temp.txt
Petra/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Petra.session-journal
updates.txt
*.exe
